.footer{
  background: black;
}
.container-sections-data {
  justify-content: space-around;
  padding: 33px;
  display: flex;
}
.payment-section-footer h3{
  font-family: Lexend;
font-size: 48px;
font-weight: 400;
text-align: left;
margin: 0px;
  color: white;
}.payment-section-footer {
 text-align: left;
}
.container-sections-data {
  padding-left: 167px;
  padding-right: 167px;
  padding-top: 31px;
}
.payment-methid-sections {
  text-align: left;
  display: flex;
  margin-top: 12px;
}
.payment-methid-sections img {
  width: 73px;
  height: 39px;
}
.payment-methid-sections-divider-sections{
  text-align: left;
  display: flex;
  margin-top: 12px;
}
.payment-methid-sections-divider-sections img {
  height: 94px;
  width: 84px;
  margin-right: 4px;
}
.payment-methid-sections-divider-sections h3{
  margin: 3px;
  color: white;
  font-family: Lexend;

font-weight: 400;
text-align: left;

}
.payment-methid-sections-divider-sections span{
  margin: 14px;
  color: white;
  font-family: Lexend;
font-size: 16px;
font-weight: 400;
text-align: left;

}
.dev-span-footer-sections span{
  color: white;

}
.dev-span-footer-sections {
  text-align: left;
  
}
.p-payment-method h4 {
  margin: 9px;
  color: white;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  /* margin-bottom: 12px; */
}
.p-payment-method {
  text-align: left;
}.p-payment-method li {
  color: white;
  list-style-type: none;
  margin-left: 7px;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 25px;
  color: #858181;
}.p-payment-method h6 {
  color: white;
  list-style-type: none;
  margin-left: 7px;
  font-family: Lexend;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 30px;

}
.p-payment-idea-card-method{
  display: flex;
}
.social-data-payment {
  color: white;
  margin-top: 51px;
}
.social-data-payment h4 {
  color: white;
  font-family: Mako;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  margin: 12px 12px 11px 12px;
}
.our-warranty-item{
  font-size: 36px;
  margin-bottom: 10px;
}.dev-sections-span{
  font-size: 16px;
}

@media screen and (max-width:570px) {
  .container-sections-data {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 31px;
    display: flow-root;
  }.main-section-news-letter {
    display: flow-root !important;
  
  }.data-image-section-grid {
    position: relative;
    /* z-index: 200; */
    margin-top: 0px;
  }.payment-methid-sections img {
    width: 81%;
    height: 35px;
    margin-left: 6px;
    margin-right: 15px;
}.payment-section-footer h3 {
  font-family: Lexend;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  margin: 12px;
  color: white;
}.payment-methid-sections-divider-sections h3 {
font-size: 20px;
}.our-warranty-item{
  font-size: 20px;
  margin-bottom: 10px;
}.dev-sections-span{
  font-size: 14px;
}.social-media-footer {
  display: flex;
  justify-content: center;
}.social-media-footer h4{
font-size: 20px;
}
}